.hideDivStyle { position:absolute;z-index:99999;display:inline;width:0;height:0;overflow:hidden;}
.flashv2{position:absolute;left:-500%;width:0;height:0;padding:0;overflow:hidden}
.flash2{position:absolute;background:#b3b3b3;z-index:9999;padding:65px 35px;border-radius:5px;filter:alpha(Opacity=0);opacity:0}
