.hideDivStyle { position:absolute;z-index:99999;display:inline;width:0;height:0;overflow:hidden;}
.flashv2{position:absolute;left:-500%;width:0;height:0;padding:0;overflow:hidden}
.flash2{position:absolute;z-index:9999;padding:65px 45px;border-radius:5px}
