<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>speechInput</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>fhy.TestRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>saveRecord</display-name>
    <servlet-name>saveRecord</servlet-name>
    <servlet-class>fhy.TestRecordFlashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveRecord</servlet-name>
    <url-pattern>/saveRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadMP3</servlet-name>
    <servlet-class>fhy.TestSoundRecordMP3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadMP3</servlet-name>
    <url-pattern>/uploadMP3</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>uploadFhyMP3</servlet-name>
    <servlet-class>fhy.TestSoundRecordMP3FhyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFhyMP3</servlet-name>
    <url-pattern>/uploadFhyMP3</url-pattern>
  </servlet-mapping>    
</web-app>